# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Data & SQLite Cache
data/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
.cursor/